<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s_1_sep_2021_login_with_textfeild">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
